<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>HR Recruitment</title>
</head>
<body>
    <div class="container">
        <h1>Sistema de Reclutamiento y Selección</h1>
        <div class="button-container">
            <a href="/registro" class="button button-primary">Registrarse</a>
            <a href="/login" class="button button-secondary">Iniciar Sesión</a>
        </div>
    </div>
</body>
</html>